:root {
    --clr-neutral-white: #f2f2f2;
    --clr-neutral-grey: #B5C3F4;
    --clr-neutral-black: #141414;

    --clr-brand-primary: #d50a0d;
    --clr-brand-secondary: #22223B;

    --ff-logo: 'Montserrat Alternates', system-ui, sans-serif;
    --ff-slogan: monospace, system-ui, sans-serif;
    --ff-body: 'Roboto', system-ui, sans-serif;

    --br: 0.25em;
    --pad: 0.25em;
}


* {
    font: inherit;
    font-family: var(--ff-body);
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: 400;
    text-align: center;

    /* border: 1px solid red; */
}



/* Navigation */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
    height: 7em;
    padding: 1em;
}

nav ul { list-style-type: none; }

nav li {
    display: inline;
    margin-left: 2em;
    padding: 0.25em 0;
    border-radius: 1em;
}

nav a {
    text-decoration: none;
    color: var(--clr-neutral-grey);
    padding: 0.25em 1em;
    border-radius: 1em;
}

#navCTA {
    font-size: 2em;
    background-color: var(--clr-brand-secondary);
    border: 2px solid var(--clr-neutral-grey);
    border-radius: 2em;

}

#navLogoContainer {
    border: 2px solid var(--clr-brand-secondary);
    height: 5em;
    display: grid;
    column-gap: 0.5em;
    grid-template-columns: 5em auto;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
        "img name"
        "img slogan";
}

#navLogoContainer:hover {
    border: 2px solid var(--clr-neutral-grey);
}

#navLogoImg {
    width: 100%;
    grid-area: img;
}

#navLogoName {
    grid-area: name;
    text-align: left;
    font-size: 3em;
    font-family: var(--ff-logo);
    color: var(--clr-brand-primary);
}

#navLogoSlogan {
    grid-area: slogan;
    text-align: center;
    font-size: 0.75em;
    font-family: var(--ff-slogan);
    color: var(--clr-neutral-grey);
}

#navCTA:hover, 
nav li > a:hover {
    color: var(--clr-brand-secondary);
    background-color: var(--clr-neutral-grey);
}



/* header and footer defaults */

header, footer {
    background-color: var(--clr-brand-secondary);
    color: var(--clr-neutral-grey);
    padding: 0.25em 4em;
}


/* attribution */
.attribution { 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}
.attribution span { font-size: 11px; }
.attribution a { color: hsl(115, 93%, 59%); }