:root {
    --clr-neutral-white: #f2f2f2;
    --clr-neutral-grey: #B5C3F4;
    --clr-neutral-black: #141414;

    --clr-brand-primary: #d50a0d;
    --clr-brand-secondary: #22223B;

    --ff-logo: 'Montserrat Alternates', sans-serif;
    --ff-slogan: 'Roboto Mono', monospace;
    --ff-body: 'Roboto', sans-serif;

    --fw-100: 100;
    --fw-300: 300;
    --fw-400: 400;
    --fw-500: 500;
    --fw-700: 700;
    --fw-900: 900;
}


* {
    font: inherit;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: 400;
    text-align: center;

    /* border: 1px solid red; */
}



/* Navigation */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

nav ul { list-style-type: none; }

nav li {
    display: inline;
    margin-right: 2rem;
}

nav a {
    text-decoration: none;
    color: lightgoldenrodyellow;
    padding: 0.25rem 1rem;
    border-radius: 1rem;
}

#navLogo {
    width: 3em;

}

nav button {
    padding: 0.25rem 1rem;
    background-color: darkslategrey;
    border: 2px solid lightgoldenrodyellow;
    border-radius: 1rem;
}

nav button:hover, 
nav a:hover {
    color: #000;
    background-color: hsl(115, 93%, 59%);
}


/* header and footer defaults */

header, footer {
    background-color: darkslategrey;
    color: lightgoldenrodyellow;
    padding: 0.25em 4em;
}


/* attribution */
.attribution { 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}
.attribution span { font-size: 11px; }
.attribution a { color: hsl(115, 93%, 59%); }