:root {
    --clr-neutral-white: #f2f2f2;
    --clr-neutral-grey: #B5C3F4;
    --clr-neutral-black: #141414;

    --clr-brand-primary: #d50a0d;
    --clr-brand-secondary: #22223B;

    --clr-op-primary: rgba(214, 10, 13, 0.4);

    --ff-body: system-ui, sans-serif;

    --br: 0.25em;
    --pad: 0.25em;
}


* {
    font: inherit;
    font-family: var(--ff-body);
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    color: var(--clr-neutral-black);

    /* border: 1px solid red; */
}

body {
    background-image: url(./images/logo/NAVandHERO_IMAGE_bg\ red\ cape_1920x1080.png);
    background-attachment: fixed;
}


section ul,
footer ul,
nav ul { list-style-type: none; }


/* Navigation */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
    height: 7em;
    padding: 1em;
}


nav li {
    display: inline;
    margin-left: 2em;
    padding: 0.25em 0;
    border-radius: 1em;
}

nav a {
    text-decoration: none;
    padding: 0.25em 1em;
    border-radius: 1em;
}

#navCTA {
    font-size: 2em;
    border: 2px solid var(--clr-brand-secondary);
    border-radius: 2em;

}

#navLogoContainer {
    border: 2px solid transparent;
    height: 5em;
    padding-inline: 0;
}

#navLogoImg {
    width: 180px;
}

#navCTA:hover, 
nav li > a:hover {
    color: var(--clr-neutral-grey);
    background-color: var(--clr-brand-secondary);
}



/* section control */

section {
    padding: 4em 10%;
    min-height: 35dvh;;
}

/* hero section */

#heroSection .wrapper {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
}

#heroContent h1 span {
    display: block;
    text-align: left;
    font-size: 3em;
    font-weight: 700;
    line-height: 1em;
}

#heroImg {
    border: 1px solid black;
    height: 50dvh;
}


/* header and footer defaults */

header {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 0.25em 10%;
}

footer {
    background-color: var(--clr-brand-secondary);
    color: var(--clr-neutral-grey);
    padding: 0.25em 10%;
}


/* attribution */
.attribution { 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}
.attribution span { font-size: 11px; }
.attribution a { color: hsl(115, 93%, 59%); }